@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme("colors.light");
  background: theme("colors.dark");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Catamaran";
  src: url("../public/fonts/catamaran-v19-latin-regular.woff2") format('woff2');
}

@font-face {
  font-family: "Neuton";
  src: url("../public/fonts/neuton-v22-latin-regular.woff2") format('woff2');
}

/* @layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: theme("fontFamily.neuton");
  }
  p {
    font-family: theme("fontFamily.catamaran");
  }
} */